/* CSS styling for your page */
body {
    overflow-x: hidden; /* Menghindari scroll horizontal */
    margin: 0;
    padding: 0;
    position: relative; /* Tambahkan ini untuk pengaturan yang akan datang */
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1; /* Menempatkan header di atas video dan gelembung */
}

#pageTitle {
    z-index: 2;
}

.speaker-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

/* Styling for bubble text */
.bubble {
    position: absolute;
    left: -200px; /* Mulai dari luar sisi kiri */
    top: 50%; /* Pusat vertikal gelembung */
    font-size: 16px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    animation: moveBubble 10s linear, fadeBubble 10s linear;
}

@keyframes moveBubble {
    0% {
        left: -200px;
    }
    100% {
        left: 90%; /* Bergerak dari luar sisi kiri ke kanan hingga keluar dari layar */
    }
}

@keyframes fadeBubble {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Styling for video container */
#video-container {
    height: 100vh;
    position: relative;
    overflow: hidden; /* Menghindari scroll horizontal */
}
.background-video {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

