/* CSS styling for your page */
header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

video {
    width: 100%;
}

.styled-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #2980b9;
}
