/* CSS styling for your page */
header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

#pageTitle {
    z-index: 2;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    z-index: 2;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    object-fit: cover;
}
